body{
  color: azure;
  background-image: url('../images/wood-back2.jpeg');
}
.padding{
  padding: 50px;
}
.bg1{
  background-image: url('../images/slide_2.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}